.history {
  display: flex;
  justify-content: space-between;
  background-color: #d2cbcb3b;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #202020;

}
.exp,.inc{
  padding:1rem 1.2rem ;
  font-size:16px;
  font-weight: bold;
}
.inc {
  color: #1DB954;
}

.exp {
  color: rgb(250, 0, 0,0.7);
  
}
.Remarks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0 1.2rem ;
}